
.cardy{
    height: 20rem;
}
body{
    background: #000;
    background-color: black;
    color: aqua;
}
.card-title a{
    text-decoration: none;
    color: black;
}
/* .cardy{
    background-color: rgba(red, green, blue, 60%)
} */