
{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
<div class="container-fluid ps-md-0">
    <div class="row g-0">
      <div class="d-none d-md-flex col-md-4 col-lg-6 sign-image"></div>
      <div class="col-md-8 col-lg-6 signup">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8   mx-auto">
                <h3 class="login-heading mb-4" >Sign In</h3>
              
                <form method='post' >{%csrf_token%}
                        {{form}}
                        <input type="submit" class="btn btn-primary form-control my-3 signup" value="Submit">

                </form>
                <a href="{% url 'register'%}"><button class="btn btn-primary form-control  signin_reg" type="submit">Create New Account</button>
                </a>

                  <p><small> <a href="">Return to Home Page</a></small></p>  -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}