{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}

<div class="container">
        <header>
            <div class="bg-cover" >
                <img src="{{ projects.landing_page.url }}" class="details my-5" alt="" style="height:20rem ;">
                <div class="btn-details" style="display:flex;">
                    <a href="{{ projects.site_url }}" target="_blank">
                        <button class="btn btn-primary mx-2 signup m-2">View Live</button>
                    </a>
                    <button class="btn btn-primary signup m-2" id="nowRate">Rate Site</button>
                </div>
            </div>
        </header>
        <!-- Rates -->
        <div class="allrates" id="allrates">

        </div>
        <!-- Details -->
        <div class="container details-page">
            <p class=" h4 my-3"> Project Title: &nbsp; &nbsp;
                {{ projects.title }}
            </p>
            <p class=""> About: &nbsp; &nbsp;
                {{ projects.description }}
            </p>
        </div>
            <div class="d-flex justify-content-around table-responsive" id="tbody">
        
                {% for rating in ratings  %}
                    <div class="bit-img ms-0 me-4">
                            <img src="{{ rating.user.profile.profile_image.url}}" alt="" class="img-resp">
                    </div>

                    {{ rating.user }}

                    <div id="user{{rating.user.id}}">

                        {{ rating.usability }}

                            {{ rating.design }}

                            {{ rating.content }}
                    </div>

                {% endfor %}

            </div>
    </div>  
    {% endblock %}